﻿@media screen and (min-width: 0px) and (max-width: 479px)
{


    #popularmovies{

        display: none;
    }


    #newmovies{

        display: none;
    }

    #branding{

        width: 100%;

    }

    .menusearch{
        width:100%;
        margin-left:-165px;
        margin-top:-15px;
    }

    #mybuttons{
        margin-left:-430px;

    }

    .btn{
        font-size:80%;
        width: 80px!important;

    }

    #synopsisindex
    {
        height: 260px!important;
        width: 280px!important;
        margin-left:-315px;
        margin-top:275px;
    }

}

@media screen and (min-width: 480px) and (max-width: 767px)
{
    #popularmovies{

        display: none;
    }

    #newmovies{

        display: none;
    }

    #branding{

        width: 100%;

    }

    .menusearch{
        width:100%;
        margin-left:-165px;
        margin-top:-15px;
    }

    #mybuttons{
        margin-left:-430px;

    }

    .btn{
        font-size:80%;
        width: 100px!important;

    }

    #synopsisindex
    {
        height: 260px!important;
        width: 420px!important;
        margin-left:-315px;
        margin-top:275px;
    }



}

@media screen and (min-width: 768px) and (max-width: 1000px)
{
    #popularmovies{

        display: none;
    }

    #newmovies{

        display: none;
    }

    #branding{

        width: 100%;

    }

    .menusearch{
        width:100%;
        margin-left:25px;
        margin-top:-15px;
    }

    #mybuttons{
        margin-left:-230px;

    }

    .btn{
        font-size:80%;
        width: 130px!important;

    }

    #synopsisindex
    {
        height: 260px!important;
        width: 420px!important;

    }

}

body {
background: linear-gradient(#E0E0E0, white);
}

#branding{
background: linear-gradient(#0066FF, #80B2FF);
border-radius: 25px;
height:95px;
}

#header{

height:80px;
border-style: solid;
border-color: #0066FF;
border-radius: 25px;
}

#mybuttons{
position: absolute;
top:  120px;
left: 450px;
}

.btn{
width:160px;
background: linear-gradient(#0066FF, #80B2FF);
height: 40px;
border-radius: 25px;
}

.btn:hover{
 background: linear-gradient(#0066FF, #80B2FF); opacity:0.6;);
}

.menusearch{
    position: absolute;
    left:200px;
    top:50px;
}

#new{
margin-bottom: 25px;
}

#synopsisindex
{
    border-radius: 25px;
    border-style: solid;
    border-color: #0066FF;
    background: #F5F5F5;
    width:660px;
    height: 250px;
    position: absolute;
    top: 300px;
    left: 320px
}
#moviesynopsis
{
    border-radius: 25px;
    border-style: solid;
    border-color: #0066FF;
    background: #F5F5F5;
    width:720px;
    height: 280px;
    position: absolute;
    left:430px;
    top:280px;
}

#moviesimage
{
    position: absolute;
    left:200px;
    top:270px;
}

#popularmovies{

    position: absolute;
    float: left;
    left:1010px;
    top:180px;
}

#newmovies{

    position: absolute;
    float: left;
    left:1010px;
    top:400px;
}



